main {
	color: black;
}

.section {
	&__contact {
		position: relative;
		height: 100vh;
		color: $about;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 200px 0 0;

		&--heading {
			font-size: 4.5em;
			font-weight: bold;
		}

		&--text {
			font-size: 3.5em;

			.our-team {
				text-decoration-line: underline;
			}
		}

		a {
			color: $about;

			.fa-arrow-down {
				position: absolute;
				top: 60%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 4em;
			}
		}
	}

	&__form {
		position: relative;
		margin-bottom: 100px;
		form {
			border: 2px solid $about;
			border-radius: 10px;
			padding: 50px 50px;
			color: $about;
			label,
			input {
				font-size: 1.6em;
			}

			input {
				margin: 10px 0;
			}

			input::placeholder {
				color: $about;
			}

			label {
				font-weight: bold;
			}

			button {
				border: none;
				margin: 10px 0 5px;
				font-size: 1.6em;
				background-color: $about;
			}
			button:hover {
				background-color: rgba(8, 49, 109, 0.9);
			}
		}
		.error {
			color: red;
			font-size: 2em;
			text-align: center;
			visibility: hidden;
		}
		.send-box {
			position: absolute;
			top: 5%;
			left: 38%;
			transform: translate(-50%, -50%);
			width: 450px;
			height: 250px;
			background-color: $about;
			color: white;
			border-radius: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			visibility: hidden;

			.send-title {
				font-size: 3em;
			}

			.send-text {
				font-size: 1.6em;
			}
		}

		.slide-bottom {
			animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
		}

		// .push-up-anim {
		// 	visibility: hidden;
		// 	animation: push-up 2s 1s infinite;
		// }
	}
}

// @keyframes push-up {
// 	from {
// 		// top: 0;
// 		visibility: hidden;
// 	}
// 	to {
// 		visibility: visible;
// 	}
// }

@keyframes slide-bottom {
	0% {
		transform: translateY(0);
		visibility: hidden;
	}
	100% {
		transform: translateY(100px);
		visibility: visible;
	}
}
